.genre-item {
    font-weight: bold;
}

.genre-button {
    width: 125px;
    text-align: center;
    
}

.genre-button-count {
    float:right;
    border: 1px solid red;
    border-radius: 15px;
    padding:3px;
}